.container {
  max-width: 80vw;
  margin: 0 auto;
}

.gap {
  margin: 1rem 0;
}
.component__grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.sidebar__component {
  width: 25vw;
}
.main__component {
  width: 100%;
  padding-left: 2rem;
  border-left: 1px dashed rgb(209, 209, 209);
}

.graph__component__flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.graph__component {
  padding: 1rem 1rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.h1__style {
  padding: 0 0 2rem 0;
  font-size: large;
}
.h2__style {
  padding: 0 0 2rem 0;
  font-size: large;
}
