.user__table__holder {
  padding: 1rem 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.user__table {
  width: 100%;
  text-align: left;
  border-spacing: 1rem;
}

.user__image {
  border-radius: 2rem;
}
.h1__style {
  /* padding: 0 0 2rem 0; */
  font-size: large;
}
.h2__style {
  /* padding: 0 0 2rem 0; */
  font-size: large;
}
